<app-header-breadcrumb [title]="'Create Course'" [items]="['Academic-Pages']"
  [active_item]="'Create Course'"></app-header-breadcrumb>

<div class="row">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Course</h3>
    </div>
    <form [formGroup]="courseForm" (submit)="onSubmit()" validation [form]="courseForm"
      [submitted]="(submitted$ | async) || false">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 col-md-12 form-group">
            <label for="name"></label>
            <input type="text" class="form-control" placeholder="Course Name" formControlName="name">
            <div class="err-msg">Course Name. is Required</div>
          </div>
          <div class="col-md-4 col-sm-12">
            <drop-down [options]="academicStaff" formControlName="user" [id]="'user'" [placeholder]="'Select Staff'">
            </drop-down>
          </div>
          <div class="col-md-4 col-sm-12">
            <drop-down [options]="majorGroups" formControlName="majorGroup" [id]="'majorGroup'"
              [placeholder]="'Select Major Gorups'">
            </drop-down>
          </div>
        </div>
        <div class="card-footer text-end">
          <button type="Submit" class="btn btn-success mt-1 me-2">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>