<app-header-breadcrumb [title]="'Requests'" [items]="['Students']" [active_item]="'Requests'"></app-header-breadcrumb>
<div class="col-xl-12">
    <div class="card mg-b-20">
        <div class="card-header pb-0">

            <div class="col-10">
                <h6 class="main-content-label mb-1">Requests</h6>
            </div>
            <ng-template [ngxPermissionsOnly]="['DisabilityStudent']">
                <div class="col-2">
                    <a [routerLink]="['/requests/operation']" class="btn btn-primary btn-icon text-white me-2 mb-3">
                        <span>
                            <i class="fe fe-plus"></i>
                        </span> Add Request
                    </a>
                </div>
            </ng-template>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-md-12 form-group">
                    <label for="name"></label>
                    <input type="text" class="form-control" placeholder="Name" [formControl]="name">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12  col-xl-6" *ngFor="let request of rows?.items">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title w-100">{{request?.description}}</h3>
                            <div class="due-date">
                                <span>DueDate: {{request?.dueDate |
                                    date :
                                    'shortDate'}}</span>
                            </div>

                            <div class="card-options">
                                <a class="btn btn-primary btn-sm white-color">{{request?.requestType}}</a>
                                <a class="btn  btn-sm ms-2 white-color" [ngClass]="{'btn-warning': request?.requestStatus == 'Created',
                                'btn-secondary': request?.requestStatus =='Accepted',
                                'btn-success': request?.requestStatus =='AcceptedByVolunteer',
                                'btn-info':request?.requestStatus == 'ReAssigning'}">{{request?.requestStatus}}</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="visitor-list" *ngIf="request?.studentName">
                                <div class="media m-0 mt-0 border-bottom">
                                    <div class="media-body">
                                        <a class="text-default fw-semibold">{{request?.studentName}}</a>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-style-1">
                                <li>Course : {{request?.courseName}}</li>
                                <li [style.visibility]="request?.examName ? 'visible' : 'hidden'">Exam :
                                    {{request?.examName}}</li>
                                <li [style.visibility]="request?.materialName ? 'visible' : 'hidden'">Material :
                                    {{request.materialName}}</li>
                            </ul>
                        </div>
                        <div class="card-footer text-center">
                            <div class="row user-social-detail">

                                <ng-template [ngxPermissionsOnly]="['DisabilityStudent']">
                                    <a class="social-profile me-4 rounded text-center"
                                        (click)="openUserList(request.id)"><i class="fa fa-list" ngbTooltip="Volunteers"
                                            aria-hidden="true"></i></a>

                                    <a class="social-profile me-4 rounded text-center"
                                        (click)="deleteRequest(request)"><i class="fa fa-trash" ngbTooltip="Delete"
                                            aria-hidden="true"></i></a>
                                </ng-template>
                                <ng-template [ngxPermissionsOnly]="['DisabilityStudent']">
                                    <a class="social-profile me-4 rounded text-center" *ngIf="!request?.hasFeedback"
                                        (click)="openFeedbackDialog(request)"><i class="fa fa-comments"
                                            ngbTooltip="Feedback" aria-hidden="true"></i></a>
                                </ng-template>
                                <ng-template [ngxPermissionsOnly]="['VolunteerStudent']">

                                    <ng-container *ngIf="!request?.hasFeedback && request?.hasRequested">
                                        <a class="social-profile me-4 rounded text-center"
                                            (click)="openFeedbackDialog(request)"><i class="fa fa-comments"
                                                ngbTooltip="Feedback" aria-hidden="true"></i></a></ng-container>
                                </ng-template>

                                <ng-template [ngxPermissionsOnly]="['AcademicStaff','DeanOffice']">
                                    <a class="social-profile me-4 rounded text-center" *ngIf="request?.hasFeedback"
                                        (click)="openReviewDialog(request)"><i class="fa fa-comments"
                                            ngbTooltip="Feedback" aria-hidden="true"></i></a> </ng-template>
                                <ng-template [ngxPermissionsOnly]="['VolunteerStudent']">
                                    <a class="social-profile me-4 rounded text-center" *ngIf="request?.hasRequested"
                                        [routerLink]="['/materials/operation',request?.id]"><i class="fa fa-upload"
                                            ngbTooltip="Upload Material" aria-hidden="true"></i></a> </ng-template>
                                <a class="social-profile me-4 rounded text-center"
                                    (click)="openMaterialsDialog(request)"><i class="fa fa-file" ngbTooltip="Documents"
                                        aria-hidden="true"></i></a>
                            </div>

                            <ng-container *ngxPermissionsOnly="['VolunteerStudent']">

                                <div class="row mt-2" *ngIf="!request?.hasRequested">
                                    <a class="btn btn-success btn-sm white-color"
                                        (click)="acceptRequest(request)">Accept</a>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                </div>
                <div class="mb-5">
                    <ngb-pagination class="float-end" [collectionSize]="rows?.totalCount" [(page)]="pageNumber"
                        [pageSize]="pageSize" (pageChange)="setPage($event)"
                        aria-label="Default pagination"></ngb-pagination>
                </div>

            </div>


        </div>
    </div>
</div>