.container {
    background: #FFFFFF;
    margin-top: 20px;
    height: 90px;
    border: 2px dashed rgb(222, 226, 221);
    border-radius: 5px;
    width: 100%;
}

.container:after {
    content: '';
    display: table;
    clear: both;
}

.container .progress-container {
    float: left;
    margin-right: auto;
    width: 95%;
}

.container div:last-child {
    float: right;
    width: 5%;
    height: 100%;
    border-radius: 5px;

}

.progress {
    margin-top: auto;
    height: 0.5rem !important;
    width: 100%;
}

.upload-icon {
    position: relative;
    top: calc(50% - 25px);
    font-size: 42px;
    left: 17%;
}