<div id="feedback-form-wrapper">
  <div id="feedback-form-modal">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Feedback Form</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">How likely you would like to rate your volunteer
            {{volunteerName}}?</label>
          <div class="rating-input-wrapper d-flex justify-content-between mt-2">
            <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">1</span></label>
            <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">2</span></label>
            <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">3</span></label>
            <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">4</span></label>
            <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">5</span></label>
          </div>
        </div>
        <div class="form-group">
          <label for="input-two">Would you like to say something?</label>
          <textarea class="form-control" id="input-two" rows="3"></textarea>
        </div>
      </form>
    </div>
  </div>
</div>