<app-header-breadcrumb [title]="'Update User Password'" [items]="['Dean-Office-Pages']"
  [active_item]="'Update User Password'"></app-header-breadcrumb>

<div class="row">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">User</h3>
    </div>
    <form [formGroup]="userForm" (submit)="onSubmit()" validation [form]="userForm"
      [submitted]="(submitted$ | async) || false">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 col-md-12 form-group">
            <label for="password"></label>
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
            <div class="err-msg">Password. is Required</div>
          </div>
          <div class="col-lg-6 col-md-12 form-group">
            <label for="confirmpassword"></label>
            <input type="password" class="form-control" placeholder="Confirm Password"
              formControlName="confirmpassword">

            <div class="err-msg err" *ngIf="notMatched" style="display: block !important;">Password and
              Confirm Password
              must
              be match.</div>
            <div class="err-msg">
              Password is required.</div>


          </div>


        </div>
        <div class=" card-footer text-end">
          <button type="Submit" class="btn btn-success mt-1 me-2">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>