<nav class="navbar">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggler" data-toggle="open-navbar1">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a [routerLink]="['']" class="d-flex">
        <h4> <img src="/assets/images/brand/logo.png" class="w3-circle" alt="Alps">
        </h4>
        <h4> <img src="/assets/images/JUlogoQs.png" class="w3-circle" alt="Alps">
        </h4>
      </a>
    </div>

    <div class="navbar-menu" id="open-navbar1">
      <ul class="navbar-nav">
        <li class="active"><a [routerLink]="['']">Home</a></li>
        <li *ngIf="(isAuthenticated | async) !== true"><a [routerLink]='["/authentication/login"]'>Signin</a></li>
        <li *ngIf="(isAuthenticated | async) === true"><a [routerLink]='["/landing-page"]'>Panel</a></li>
        <li *ngIf="(isAuthenticated | async) === true"><a [routerLink]='["/authentication/logout"]'
            [state]='{ local: true }' title="Logout">Logout</a></li>

      </ul>
    </div>
  </div>
</nav>

<main>




  <div id="content">
    <div id="content-text">


      <h1><span>We</span>Care</h1>
      <h2>we aim to create a supportive community <br>
        where students can connect and share resources <br>
      </h2>
    </div>
    <img class="header-image"
      src="https://github.com/malunaridev/Landing-Pages-Are-Fun/blob/master/2-business-agency-concept-2/assets/image.png?raw=true"
      alt="a business man standing and smiling">

  </div>




</main>