<div class="col-xl-12">
  <div class="card mg-b-20">
    <div class="card-header pb-0">

      <div class="col-10">
        <h6 class="main-content-label mb-1">Majors</h6>
      </div>
      <div class="col-2">
        <a [routerLink]="['/majors/operation']" class="btn btn-primary btn-icon text-white me-2 mb-3">
          <span>
            <i class="fe fe-plus"></i>
          </span> Add Major
        </a>
      </div>

    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6 col-md-12 form-group">
          <label for="name"></label>
          <input type="text" class="form-control" placeholder="Name" [formControl]="name">
        </div>
      </div>
      <ngx-datatable class="material" [rows]="rows?.items" [columnMode]="ColumnMode.force" [headerHeight]="50"
        [summaryHeight]="55" [footerHeight]="50" rowHeight="auto" [externalPaging]="true" [count]="rows?.totalCount"
        [offset]="rows?.pageNumber" [limit]="rows?.pageSize" (page)="setPage($event)">
        <ngx-datatable-column prop="id" [width]="120">
          <ng-template let-column="column" ngx-datatable-header-template>
            Id
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="name" [width]="120">
          <ng-template let-column="column" ngx-datatable-header-template>
            Name
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="majorGroupName" [width]="120">
          <ng-template let-column="column" ngx-datatable-header-template>
            Major Group Name
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="id" [width]="120">
          <ng-template ngx-datatable-header-template>
            Actions
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <div class="row">
              <div class="col">
                <a [routerLink]="['operation',value]" routerLinkActive="router-link-active"> <i ngbTooltip="Edit"
                    class="fa fa-edit"></i> </a>
              </div>
              <div class="col" (click)="deleteMajor(value)">
                <i ngbTooltip="Delete" class="fa fa-trash danger-icon"></i>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>